body{
  margin: 0;
  background: #ffffff;
}

.font{
  font-family: 'Poppins', sans-serif;
}

h1{
  color:#172B4D;
  margin-top: 5px;
  margin-bottom: 2px;
}

.first-section {
  height: 552px;
  width: 327px;
  left: 24px;
  top: 114px;
  border-radius: 16px;
  padding: 0;
  margin-top: 43px;
  margin-left: 31px;
}

.firsth1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
}

.secondlist {
  position: static;
  width: 188px;
  height: 16px;
  left: 0px;
  top: 8px;
  margin-left: 31px;
  font-weight: bold
}

strong{
  color: #7A869A;
}

.thirdlist {
  position: static;
  width: 29px;
  height: 16px;
  left: 0px;
  top: 8px;
  margin-left:-50px;
}

ul {
  display: inline-flex;
  padding: 1px;
  margin-top: 10px;
}

p {
  margin-top: auto;
  font-style: normal;
  font-size: 20px;
  line-height: 25px;
  color: #344563;
  font-weight: 100;
}

.htmlbackground {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  left: 0px;
  top: 0px;
  display: inline-flex;
  text-align: center;
  margin: 10px 10px;
}

.cssbackground {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  left: 0px;
  top: 0px;
  display: inline-flex;
}

.javascriptbackground {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  left: 0px;
  top: 0px;
  display: inline-flex;
  align-items: center;
}

.lang1 {
  margin-left: -11px;
}

.seeProject {
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 8px;
  padding: 10px;
  margin-left: -15px;
  margin-right: 89px;
}

.grid-container > button {
  background-color: #ebebff;
  text-align: center;
  font-size: 19px;
  left: 0px;
  top: 0px;
  border-radius: 8px;
  padding: 4px, 12px, 4px, 12px;
  padding: 2px;
  border: 0;

}

.item3 {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
}

button {
  border: 1px solid #396df2;
  background-color: white;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 15px 8px;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 21px;
  color: #396df2;
}

.third-para {
  color: #7f8cff;
}

.fourthpara {
  margin: 12px 1px;
  padding: -10px;
  padding-right: 18px;
}

.logo-icons {
  padding: 2px 10px;
}

.nostyle{
  list-style-type: none;
  font-weight: bold;
  color:#172B4D
}

.bolslist{
  font-weight: bold;
}

.container4{
}

ul{
  display: revert;
  margin-left:-20px;
}

.languages li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f7f7f9;
  margin: 15px;
}

.languages_logo {
  display: flex;
  justify-content: space-between;
  width: 77%;
  font-size: 0.5rem;
  margin-bottom: 15px;
  margin-left: 0rem;
}

.languages_frameworks {
  display: flex;
  justify-content: space-between;
  width: 83%;
  font-weight: 500;
  font-size: 0.5rem;
  line-height: 7px;
  padding-bottom: -1rem;
  margin-left: 0rem;
}

.languages_skills {
  display: flex;
  justify-content: space-between;
  width: 83%;
  font-weight: 500;
  font-size: 0.5rem;
  line-height: 5px;
  padding-top: -1rem;
  margin-left: 0rem;
  margin-bottom: 27px;
}

ul {
  padding: 1px;
  margin-top: 10px;
}

h4{
  font-size: 252%;
  color: #000000;
}

.image_float{
  height: 10px;
  margin-left: 172px;
  margin-top: 34px;
}

.image_float2{
  height: 33px;
  margin-left: 146px;
}

.image_float3{
  height: 33px;
  margin-left: 211px;
}